<header id="home" class="navbar-fixed-top">
    <div class="header_top_menu clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3 col-sm-12 text-right">
                    <div class="call_us_text">
                        <a href="mailto:contato@eucorromais.com.br"><i class="fa fa-envelope"></i> contato@eucorromais.com.br</a>
                        <a href="tel:%2898%29%2098166-0765"><i class="fa fa-phone"></i>(98) 98166-0765</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="head_top_social text-right">
                        <!-- <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-pinterest-p"></i></a>
                            <a href=""><i class="fa fa-phone" Title="Fone"></i></a>	-->
                        <a href="https://facebook.com/eucorro.mais" target="_blank"><i class="fa fa-facebook" title="Facebook"></i></a>
                        @*<a href="https://twitter.com/eucorromais" target="_blank"><i class="fa fa-twitter" title="Twitter"></i></a>
                            <a href="" target="_blank"><i class="fa fa-youtube" title="YouTube"></i></a>*@
                        <a href="https://www.instagram.com/eucorromais" target="_blank"><i class="fa fa-camera" title="Instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="nav" class="navbar navbar-default">
        <div class="container">
            <span class="pull-left">
                <a href="@Url.Action("Index", "Home")"><span><img class="profile-img" src="~/img/Eu-Corro-Logo.png" width="120" alt="" /></span></a>
            </span>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand our_logo" href="@Url.Action("Index", "Home")">@*<img class="profile-img" src="~/img/Eu-Corro-Logo.png" width="125" alt="EUCORRO Assessoria Esportiva" />*@</a>
            </div>
            <h3 class="text-center text-muted">Área de Vendas <em>EUCORRO</em></h3>
            <!-- Collect the nav links, forms, and other content for toggling -->
            @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="li-mnu-Home">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                        <li id="li-mnu-Empresa">@Html.ActionLink("Empresa", "About", "Home")</li>
                        <li id="li-mnu-Portifolio">@Html.ActionLink("Portifólio", "Portifolio", "Home")</li>

                        <li id="li-mnu-Portifolio" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Portifólio <b class="caret"></b> </a>
                            <ul class="dropdown-menu" aria-labelledby="themes">
                                <li role="menuitem">@Html.ActionLink("ALUGUÉIS", "Alugueis", "Home")</li>
                                <li role="menuitem">@Html.ActionLink("SERVIÇOS", "Servicos", "Home")</li>
                            </ul>
                        </li>
                        <li id="li-mnu-Eventos">@Html.ActionLink("Eventos", "Eventos", "Home")</li>
                        <li id="li-mnu-Galeria">@Html.ActionLink("Galeria", "Galeria", "Home")</li>
                        <li id="li-mnu-Contato">@Html.ActionLink("Contato", "Contact", "Home")</li>
                        <li id="li-mnu-Cliente">@Html.ActionLink("LOGIN", "Login", "Account", new { area = "Admin" }, new { @target = "_blanck" })</li>
                        <li id="li-mnu-Escritorio">@Html.ActionLink("ESCRITÓRIO", "Login", "Account", new { area = "Escritorio" }, new { @target = "_blanck" })</li>
                    </ul>
                </div>*@
        </div>
    </nav>

</header>