<div style="display: none;">
    <div id="triathlonID" style="width:600px;height:450px;overflow:auto;background-color:white">
        <div class="text-justify">
            <div class="subtitle">
                <h3>Triathlon</h3>
            </div>
            <div class="pull-left">
                <div class="box">
                    <img src="~/img/triathlon.png" alt="Triathlon" />
                </div>
            </div>
            <div class="description-text">
                <p>
                    <strong> O Triathlon</strong>  é uma modalidade
                    esportiva completa onde o atleta participa de três provas seqüenciais e
                    ininterruptas. na distância olímpica so 1,5 km de natação, 40 km de
                    ciclismo e 10 km de corrida.
                </p>
            </div>
            <p>
                @Html.ActionLink(" Contate-nos ", "Contact", "Home", new { @class = "btn btn-warning" })
            </p>
        </div>
    </div>
    <div id="corridaID" style="width:600px;height:450px;overflow:auto;background-color:white">
        <div class="text-justify">
            <div class="subtitle">
                <h3>Corrida de Rua</h3>
            </div>
            <div class="pull-left">
                <div class="box">
                    <img src="~/img/corridaderua.png" alt="Corida de Rua" />
                </div>
            </div>
            <div class="description">

                <div class="description-text">
                    <p>
                        <ins><strong> História da modalidade Corridas de Rua</strong></ins>
                    </p>
                    <p>
                        As Corridas de Rua surgiram na Inglaterra no século XVIII onde
                        tornaram-se bastante popular, posteriormente, a modalidade expandiu-se
                        para o resto da Europa e Estados Unidos.
                    </p>
                    <p>
                        No final do século XIX as Corridas de Rua ganharam impulso depois do
                        grande sucesso da primeira Maratona Olímpica popularizando-se
                        particularmente nos Estados Unidos.
                    </p>
                    <p>
                        Depois, por volta de 1970, aconteceu o "jogging boom" baseado na teoria
                        do médico norte-americano Kenneth Cooper que difundiu seu famoso "Teste
                        de Cooper", a partir de então, a prática da modalidade cresceu de
                        maneira sem precedentes na história.
                    </p>
                    <p>
                        Paralelamente ainda na década de 70 surgiram provas onde era permitida a
                        participação popular junto com os corredores de elite – cada grupo
                        largando nos respectivos pelotões.
                    </p>
                    <p>
                        Atualmente, o critério da Federação Internacional das Associações de
                        Atletismo (IAAF) define as Corridas de Rua, provas de pedestreanismo,
                        como disputadas em circuitos de rua (ruas, avenidas, estradas) com
                        distâncias oficiais variando de 5 Km a 100 Km.
                    </p>
                    <p>
                        Hoje as Corridas de Rua são bem populares em todo o mundo. São
                        praticadas em sua grande maioria por atletas amadores que buscam
                        melhorar e aumentar sua qualidade de vida através da prática esportiva.
                        Na última década, houve um aumento significativo do número de
                        praticantes, tanto no mundo como no Brasil.
                    </p>
                    <p>
                        As 100 maiores corridas de rua realizadas nos Estados Unidos no ano de
                        1996 tiveram 1.022.813 atletas participantes, já, no Brasil, também foi
                        registrado um significativo incremento do número de participantes, como
                        exemplo, os mais de 30 mil corredores que participaram no ano 2001 das
                        etapas do Circuito de Corridas Corpore Pão de Açúcar disputado em São
                        Paulo, Brasil.
                    </p>
                    <p>
                        Somente a São Silvestre em sua ultima edição (2001) teve 17.000
                        inscritos, limite máximo definido pela organização por questões de
                        segurança.
                    </p>
                    <p>
                        <ins>Fonte:</ins><br />
                        <a href="http://www.webrun.com.br/h/noticias/historia-da-modalidade-corridas-de-rua/43">
                            http://www.webrun.com.br/h/noticias/historia-da-modalidade-corridas-de-rua/43
                        </a>
                    </p>
                </div>
            </div>
            <p>
                @Html.ActionLink(" Contate-nos ", "Contact", "Home", new { @class = "btn btn-warning" })
            </p>
        </div>
    </div>
    <div id="ciclismoEstradaID" style="width:600px;height:450px;overflow:auto;background-color:white">
        <div class="subtitle">
            <h3>Ciclismo de Estrada</h3>
        </div>
        <div class="pull-left">
            <div class="box">
                <img src="~/img/ciclismo.png" alt="Ciclismo de Estrada" />
            </div>
        </div>
        <div class="description-text text-justify">
            <p>
                <strong> O ciclismo de estrada</strong> foi a primeira
                modalidade a ser disputada em cima de uma bicicleta. A competição
                ocorreu em 31 de maio de 1868, no Parc de Saint-Cloud, em Paris. Assim, o
                britânico James Moore é considerado o primeiro ciclista a vencer uma
                prova. No ano seguinte, Moore escreveu mais uma vez seu nome na
                história. Ele triunfou na primeira prova do esporte entre cidades. O
                britânico levou 10h25 para percorrer os 123 quilômetros entre Paris e
                Rouen.
            </p>
        </div>
        <p>
            @Html.ActionLink(" Contate-nos ", "Contact", "Home", new { @class = "btn btn-warning" })
        </p>
    </div>
    <div id="duathlonID" style="width:600px;height:450px;overflow:auto;background-color:white">
        <div class="text-justify">
            <div class="subtitle">
                <h3>Duathlon Terrestre</h3>
            </div>
            <div class="pull-left">
                <div class="box imgBox">
                    <img src="~/img/duathlon.png" alt="Duathlon Terrestre" />
                </div>
            </div>
            <div class="description-text">
                <p>
                    <strong> O Duathlon</strong>  é grande oportunidade para
                    quem gosta de correr e pedalar
                </p>
                <p>
                    Diferente do triathlon que começa com a natação, o duatlo começa com a
                    corrida. Uma grande oportunidade para quem gosta de correr e pedalar.
                </p>
                <p>
                    Esse esporte é uma grande oportunidade para quem gosta de correr e
                    pedalar. Diferente do triatlo que começa com a natação, o duatlo começa
                    com a corrida. Um trecho de ciclismo vem logo depois, e uma segunda
                    corrida completa o evento.
                </p>
                <p>
                    De acordo com a União Internacional de Triathlon (ITU), existem 3
                    principais distâncias de Duathlon:
                </p>
                <p>
                    Sprint: 5km corrida – 20km ciclismo – 2,5km corrida.
                    Standard: 10km corrida – 40km ciclismo – 5km corrida
                    Long distance: 10km corrida – 150km ciclismo – 30km corrida
                </p>
                <p>
                    Entretanto, talvez por questões de logística dos eventos, algumas provas
                    de duatlo possuem distâncias parecidas com as oficiais.
                </p>
                <p>
                    O Campeonato Estadual de Duatlo do RJ, por exemplo, é disputado nas
                    distâncias 4,2km de corrida – 16,8km de ciclismo – 2,1km de corrida. É
                    realmente um prova muito rápida e disputada. E logo após existe uma
                    prova direcionada aos iniciantes com as distâncias de 2,1km de corrida –
                    4,2km de ciclismo – 2,1km de corrida.
                </p>
                <p>
                    O vácuo é permitido na maioria das provas, e um dos maiores objetivos
                    para todos os duatletas é minimizar a queda de ritmo entre a primeira
                    etapa de corrida e a segunda. Isso faz com que uma estratégia apurada,
                    principalmente na parte do ciclismo, seja determinante para quem compete
                    pensando em performance e tempo. Vale lembrar que quando você pedala no
                    vácuo (logo atrás) de outro ciclista ou de vários, menos energia é
                    despendida nesse processo e mais energia fica disponível para a segunda
                    corrida da prova, que é geralmente onde as posições são decididas.
                    Equilibrar esse gasto energético e não chegar destruído no final é um
                    processo de aprendizagem que pode custar algumas provas.
                </p>
                <p>
                    A pessoa que já é corredora e/ou pedala regurlamente, talvez devesse
                    experimentar o duatlo. Ninguém precisa ser nenhum praticante acìduo do
                    ciclismo para praticar esse esporte. Ninguém deve pegar a bicicleta e
                    pedalar 15 ou 20 km logo de cara, mas se investir dois dias de bicicleta
                    por semana, logo a pessoa vai conseguir pedalar cerca de 40 minutos com
                    algum conforto. E se consegue pedalar esse tempo, já pode, com sobras,
                    completar a prova, mesmo que no dia isso te custe um pouco mais de
                    tempo. E se você só consegue pedalar no final de semana, aula de
                    spinning durante a semana vale como treino. O ciclismo é, de fato, uma
                    atividade mais suave para as articulações, mas como na corrida, vá
                    progredindo aos poucos.
                </p>
                <p>
                    Assim como no triatlo, as transições entre os esportes são emocionantes.
                    Os atletas mais rápidos sobem em suas bicicletas ou calçam seus tênis
                    num piscar de olhos e pode-se ganhar ou perder tempo de forma definitiva
                    aqui. E a segunda transição (da bicicleta para a corrida) é a mais
                    dura, pois o duatleta já está na parte final da prova e correr depois de
                    pedalar é consideravelmente mais difícil, principalmente se você quiser
                    fazer isso tudo rápido.
                </p>
                <p>
                    Mas se você está ali só para completar, faça as transições com calma.
                    Beba alguma coisa e respire para pensar com clareza. Perder alguns
                    segundos aqui pode significar minutos a menos lá na frente. Se possível,
                    tente fazer um treino das duas modalidades juntas pelo menos a cada
                    duas semanas. No primeiro treino, pedale primeiro e corra depois, e no
                    próximo inverta a ordem. Se você for com calma, verá que completar esse
                    desafio do duatlo (nas distâncias menores) não é tão difícil. Difícil é
                    chegar com a galera da frente.
                </p>
                <p>
                    <ins>Fonte:</ins><br />
                    <a href="http://www.assessocor.com.br/Noticia/3162/DUATHLON-E-GRANDE-OPORTUNIDADE-PARA-QUEM-GOSTA-DE-CORRER-E-PEDALAR.aspx">
                        http://www.assessocor.com.br/Noticia/3162/DUATHLON-E-GRANDE-OPORTUNIDADE-PARA-QUEM-GOSTA-DE-CORRER-E-PEDALAR.aspx
                    </a>
                </p>
            </div>
            <p>
                @Html.ActionLink(" Contate-nos ", "Contact", "Home", new { @class = "btn btn-warning" })
            </p>
        </div>
    </div>
    <div id="moutainID" style="width:600px;height:450px;overflow:auto;background-color:white">
        <div class="text-justify">
            <div class="subtitle">
                <h3>Moutain Bike (MTB)</h3>
            </div>
            <div class="pull-left">
                <div class="box">
                    <img src="~/img/moutain.png" alt="Moutain Bike (MTB)" />
                </div>
            </div>
            <div class="description-text">
                <p>
                    <strong> Assim como o BMX, o mountain bike</strong>
                    surgiu da curiosidade e da ânsia por aventura dos norte-americanos da
                    década de 1970. Foi no estado da Califórnia que ciclistas que buscavam
                    uma experiência diferente do asfalto das estradas resolveram enfrentar
                    trilhas e terrenos acidentados com suas bicicletas.
                </p>
                <p>
                    Um grupo de San Francisco ajudou bastante na divulgação da modalidade ao
                    realizar um dos primeiros campeonatos de mountain bike. A prova,
                    disputada entre os anos de 1976 e 1979, ocorreu nas proximidades da
                    famosa ponte Golden Gate e acabou atraindo bastante interesse para a
                    nova vertente do ciclismo.
                </p>
                <p>
                    Em 1983, os norte-americanos realizaram o primeiro campeonato nacional
                    do esporte. Com o crescimento nos Estados Unidos e em outros países da
                    Europa e na Austrália, o mountain bike teve seu primeiro Mundial
                    realizado em 1990, já sob a sanção da União Ciclística Internacional
                    (UCI). A partir de então, não demorou tanto para que a modalidade
                    chegasse aos Jogos Olímpicos. A estreia veio justamente no berço do
                    esporte — os Estados Unidos — em Atlanta-1996.
                </p>
                <p>
                    A bicicleta do mountain bike tem pneus mais largos do que a de estrada,
                    além de amortecedores traseiros e dianteiros, para diminuir o impacto
                    para os atletas nos terrenos acidentados do percurso. O material
                    utilizado, também por conta do impacto, é mais resistente. Entretanto,
                    não deixa a bicicleta tão pesada, ficando com cerca de 8kg a 9kg.

                </p>
                <p>
                    <ins>Fonte:</ins><br />
                    <a href="http://www.assessocor.com.br/Noticia/3162/DUATHLON-E-GRANDE-OPORTUNIDADE-PARA-QUEM-GOSTA-DE-CORRER-E-PEDALAR.aspx">
                        http://www.assessocor.com.br/Noticia/3162/DUATHLON-E-GRANDE-OPORTUNIDADE-PARA-QUEM-GOSTA-DE-CORRER-E-PEDALAR.aspx
                    </a>
                </p>
            </div>
            <p>
                @Html.ActionLink(" Contate-nos ", "Contact", "Home", new { @class = "btn btn-warning" })
            </p>
        </div>
    </div>
    <div id="aguathlonID" style="width:600px;height:450px;overflow:auto;background-color:white">
        <div class="text-justify">
            <div class="subtitle">
                <h3>Aquathlon</h3>
            </div>
            <div class="pull-left">
                <div class="box">
                    <img src="~/img/aguathlon.png" alt="Corida de Rua" />
                </div>
            </div>
            <div class="description-text">
                <p>
                    <strong> Aquathlon</strong>
                    é disputado sempre em águas abertas, o
                    aquathlon chama atenção pelo dinamismo e rapidez da prova. No Brasil,
                    uma competição de aquathlon muito comum tem as distâncias de 500 m de
                    natação e 3 km de corrida, e um mundial é composto por 2,5 km de corrida
                    e 1 km de natação.
                </p>
                <p>
                    Um grupo de San Francisco ajudou bastante na divulgação da modalidade ao
                    realizar um dos primeiros campeonatos de mountain bike. A prova,
                    disputada entre os anos de 1976 e 1979, ocorreu nas proximidades da
                    famosa ponte Golden Gate e acabou atraindo bastante interesse para a
                    nova vertente do ciclismo.
                </p>
                <p>
                    Em 1983, os norte-americanos realizaram o primeiro campeonato nacional
                    do esporte. Com o crescimento nos Estados Unidos e em outros países da
                    Europa e na Austrália, o mountain bike teve seu primeiro Mundial
                    realizado em 1990, já sob a sanção da União Ciclística Internacional
                    (UCI). A partir de então, não demorou tanto para que a modalidade
                    chegasse aos Jogos Olímpicos. A estreia veio justamente no berço do
                    esporte — os Estados Unidos — em Atlanta-1996.
                </p>
                <p>
                    A bicicleta do mountain bike tem pneus mais largos do que a de estrada,
                    além de amortecedores traseiros e dianteiros, para diminuir o impacto
                    para os atletas nos terrenos acidentados do percurso. O material
                    utilizado, também por conta do impacto, é mais resistente. Entretanto,
                    não deixa a bicicleta tão pesada, ficando com cerca de 8kg a 9kg.

                </p>
                <p>
                    <ins>Fonte:</ins><br />
                    <a href="http://www.assessocor.com.br/Noticia/3162/DUATHLON-E-GRANDE-OPORTUNIDADE-PARA-QUEM-GOSTA-DE-CORRER-E-PEDALAR.aspx">
                        http://www.assessocor.com.br/Noticia/3162/DUATHLON-E-GRANDE-OPORTUNIDADE-PARA-QUEM-GOSTA-DE-CORRER-E-PEDALAR.aspx
                    </a>
                </p>
            </div>
            <p>
                @Html.ActionLink(" Contate-nos ", "Contact", "Home", new { @class = "btn btn-warning" })
            </p>
        </div>
    </div>
</div>
